@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes:
        light --default,
        /* dark --prefersdark, */ cookie;
}

.spinner {
    display: none !important;
}

[aria-busy] .spinner {
    display: inline-block !important;
}
