@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../../node_modules/alpine-tailwind-lightbox/src/template.html";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes:
        light --default,
        /* dark --prefersdark, */ cookie;
}

.spinner {
    display: none !important;
}

[aria-busy] .spinner {
    display: inline-block !important;
}

body {
    /* TODO: Find a better solution */
    overflow-x: hidden;
}

html[lang="ar"] body {
    font-family: 'Tajawal', sans-serif;
}
